<html>
<head>
<link rel="stylesheet" type="text/css" href="/test/index.css">
<style>
    .s{
        color:red;
        background-color: darkblue;
        vertical-align: center;
        text-align: center;
        
    }
    .yellow{
    	color: blue;
    	background-color: lightblue;
    	border:5px solid blue;
    }
</style>
<title>
hello Go
</title>
</head>
<body>
<div class="s">
<h1> hello <b>Go</b></h1>
<form method="POST">
<textarea name="comment"></textarea>
    <div>
        <input type="submit" name="" id="" class="btn btn-primary" value="click me">
    </div>
</form>
    {{range .}}
    <div class="yellow">{{ .}}</div>
    {{end}}
</div>
<h4> thank for watch my site </h4>
</body>


</html>